Bin/**
Obj/**
Lens*.tgz
log/**
usr/**
lens
**/*.o
TclTk/tcl8.6.4/unix/Makefile
TclTk/tcl8.6.4/unix/TclTkConfig.sh
TclTk/tcl8.6.4/unix/config.log
TclTk/tcl8.6.4/unix/config.status
TclTk/tcl8.6.4/unix/dltest/Makefile
TclTk/tcl8.6.4/unix/libtcl8.6.so
TclTk/tcl8.6.4/unix/libtclstub8.6.a
TclTk/tcl8.6.4/unix/pkgs/
TclTk/tcl8.6.4/unix/tcl.pc
TclTk/tcl8.6.4/unix/tclsh
TclTk/tcl8.6.4/unix/tclConfig.sh
TclTk/tk8.6.4/unix/Makefile
TclTk/tk8.6.4/unix/config.log
TclTk/tk8.6.4/unix/config.status
TclTk/tk8.6.4/unix/libtk8.6.so
TclTk/tk8.6.4/unix/libtkstub8.6.a
TclTk/tk8.6.4/unix/tk.pc
TclTk/tk8.6.4/unix/tkConfig.sh
TclTk/tk8.6.4/unix/wish
